<h1>Product Details</h1>
<div class="container">
    <div>
        <!-- <h3>Product Name: {{product.name}}</h3>
        <h3>Product Price: {{product.price}}</h3> -->

        <!-- <span>
            <img style="height: 500px; width: 500px; display: flex;"
                src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6331/6331918cv11d.jpg" alt="">

        </span> -->
        <img [src]="product.image" alt="" height="500px" width="300px">
        <h3>Product Name: {{product.name}}</h3>
        <h3>Product Price: {{product.price}}</h3>
        <h3>Total Price: {{calculatePrice()}}</h3>
        <button [disabled]="product.inStock<=0">Buy Now</button> <br>
        <button (click)="decrement()">-</button>
        {{quantity}}
        <button (click)="increment()">+</button>
        <input type="text" value={{product.name}} (mouseover)="changeName()">

        


    </div>