body {
    /* background image from local storage*/
    background-image: url('./istockphoto-455179327-170667a.jpg');
}

h1 {
    color: red;
    font-style: bold;
    font-size: 50px;
    text-align: center;
}

h3 {
    color: blue;
    font-style: bold;
    font-size: 30px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}