.mainbox{
    display: flex;
    
}
.imag{
    width: 200px;
    display: flex;
    transition: .5s ease-in;
}

.imag:hover{
    transform: scale(1.1);
    width: 200px;
    display: flex;
}

h3{
    color:blue;
    font-size: 15px;
}
h1{
    color: red;
    font-size: 22px;
    text-align: center;
}
h2{
    color: red;
}