<h1>{{title | uppercase}}</h1>
<h1>{{"Aditya Dhanraj" | uppercase}}</h1>
<h1>{{"Aditya Dhanraj" | lowercase}}</h1>

<h1>Date pipe</h1>
<h1>{{today | date:'shortDate'}}</h1>
<h1>{{today | date:'dd/MM/yyyy'}}</h1>

<h1>Decimal pipe</h1>
<h1>{{278.89 | number:'3.5'}}</h1>

<h1>Currency pipe</h1>
<h1>{{278.89 | currency:'INR'}}</h1>
<h1>{{278.89 | currency:'USD'}}</h1>
<h1>{{278.89 | currency:'EUR'}}</h1>
<h1>{{278.89 | currency:'GBP'}}</h1>

<h1>Json pipe</h1>
<h1>{{student | json}}</h1>

<h1>Percent pipe</h1>
<h1>{{5/100 | percent}}</h1>

<h1>Slice pipe</h1>
<h1>{{courses | slice:3:5}}</h1>

